<form >
  <mat-card >
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="column">
    <mat-form-field>
      <input type="text"  matInput placeholder="Username" formControlName="username" class="form-control" [ngClass]="" />
    </mat-form-field>
    <mat-form-field>
    <input type="password" matInput placeholder="Password" formControlName="password" class="form-control" [ngClass]="" />
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button  color="primary" (click)="onSubmit()">
      Login
  </button>
  </mat-card-actions>
  </mat-card>
</form>